<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h2 class="text-center text-dark mt-5">Brand with highest count of models</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Count of models</th>
                        <th></th> <!-- Пустая ячейка для кнопки "Подробности" -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m : ${brandsByModel}">
                        <td>
                            <span th:text="${m.brandName}"></span>
                        </td>
                        <td>
                            <span th:text="${m.modelCount}"></span>
                        </td>
                        <td>
                            <a class="btn btn-block" th:href="@{/brands/{id}(id=${m.brandId})}">Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>

