<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Offer updating</h1>
        </div>
        <form th:action="@{/offers/edit/{id}(id=${offerModelUpdate.id})}"
              th:method="post"
              th:object="${offerModelUpdate}"
              class="m-md-auto w-50 pb-3">

          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input th:field="*{description}" th:errorclass="is-invalid" type="text" class="form-control text-center" id="description" aria-describedby="description" name="description"/>
            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Error</small>
          </div>


          <fieldset class="mb-3">
            <legend>Choose engine type</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input th:field="*{engine}" th:value="GASOLINE" th:errorclass="is-invalid" type="radio" class="form-check-input" name="engine"/>
                <span>Gas</span>
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input th:field="*{engine}" th:value="DIESEL" th:errorclass="is-invalid" type="radio" class="form-check-input" name="engine"/>
                <span>Diesel</span>
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input th:field="*{engine}" th:value="ELECTRIC" th:errorclass="is-invalid" type="radio" class="form-check-input " name="engine"/>
                <span>Electricity</span>
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input th:field="*{engine}" th:value="HYBRID" th:errorclass="is-invalid" type="radio" class="form-check-input " name="engine"/>
                <span>Hybrid</span>
              </label>
            </div>
            <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}" class="text-danger">Error</small>
          </fieldset>
          <div class="mb-3">
            <label class="form-label" for="imageUrl">Image URL</label>
            <input th:field="*{imageUrl}" th:errorclass="is-invalid" type="text" class="form-control text-center" id="imageUrl"
                   aria-describedby="imageUrl" name="imageUrl"/>
            <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Error</small>
          </div>
          <div class="mb-3">
            <label class="form-label" for="mileage">Mileage</label>
            <input th:field="*{mileage}" th:errorclass="is-invalid" type="text" class="form-control text-center" id="mileage" aria-describedby="mileage" name="mileage"/>
            <small th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}" class="text-danger">Error</small>
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input th:field="*{price}" th:errorclass="is-invalid" type="text" class="form-control text-center" id="price" aria-describedby="price" name="price"/>
            <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error</small>
          </div>
          <fieldset class="mb-3">
            <legend>Choose transmission</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input th:field="*{transmission}" th:value="MANUAL" th:errorclass="is-invalid" type="radio" class="form-check-input" name="transmission"/>
                <span>Mechanical</span>
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input th:field="*{transmission}" th:value="AUTOMATIC" th:errorclass="is-invalid" type="radio" class="form-check-input" name="transmission"/>
                <span>Automatic</span>
              </label>
            </div>
            <small th:if="${#fields.hasErrors('transmission')}" th:errors="*{transmission}" class="text-danger">Error</small>
          </fieldset>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>

<footer th:replace="~{fragments/footer}"/>
</body>
</html>